.User {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
  
    .UserMenu {
      position: absolute;
      top: 100%;
      right: 0;
      background: lightsteelblue;
      display: grid;
      width: max-content;
      padding: 20px;
      gap: 10px;
      background: #636669;
  
      display: none;
    }
  
    &.Open {
      .UserMenu {
        display: grid;
      }
    }
    
    .UserIcon {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 10px;
        cursor: pointer;
    }

    .UserMenuItem {
        text-decoration: none;
        color: #FFFFFA;      
        
        &:hover {
            font-size: 1.2em;
        }
    }

    .ProfileImage {
        width: 4vh;
        height: 4vh;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background: white;
        font-size: 0.8em;
        color: black;
        margin-right: 10px;
        align-items: center;
    }
  }

