* {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--header-font);
    background: var(--background-color);
    color: var(--black-color);
  }
  
  :root {
    /* fonts */
    --body-font: 'Assistant', sans-serif;
    --header-font: 'Oswald', sans-serif;
    /* colors */
    --primary-color: #2F394D;
    --primary-color-light: #4E5E7E;
    --primary-color-dark: #1F2633;
    --secondary-color: #56666B;
    --highlight-color: #FFA62B;
    --complimentary-color: #5C946E;
    --background-color: #FEFCFB;
    --black-color: #252627;
    --white-color: #FEFCFB;
  }