.NBA {
    padding: var(--padding);
    padding-top: var(--padding-half);
  
    display: grid;
    gap: var(--padding-half);

  }

.Header {
  background: var(--complimentary-color);
  color: var(--primary-color);
  width: 100%;
  padding: 5px 0;
  border-radius: 10px;
}