.TeamList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;

    .PlayerPill {
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        grid-gap: 20px;
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: var(--white-color);
        color: var(--black-color);
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }
  }